img {
    width: 100%;
    border-radius: 7px;
}

h1{
    font-size: 36px;
    margin-top: 10px;
}

p{
    font-size: 15px;
}

.callToAction {
    text-align: center;
  
}

button{
    margin-top: 10px;
    border-radius: 7px;
    padding: 5px
}

@media only screen and (min-width: 768px) {
    .container {
        float: left;
        width: 50%;
    }
    .callToAction {
        text-align: center;
        margin-top: 10%;
    }
} 
  